In [7]:
import pandas
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import numpy as np

In [8]:
f = open('stat.csv')
dataFrame_in = pandas.read_csv(f)
pandas.options.display.float_format = '{:,.0f}'.format
count = 5
dataFrame_in

   Status  Score  Time   Algorithm  CrossroadsCount
0    lose   2410     9     Minimax               97
1    lose   2500     6     Minimax               99
2     win   2650     6     Minimax               96
3     win   2650     8     Minimax              100
4     win   2690     9     Minimax               94
5    lose   2660    18     Minimax               99
6    lose   2700    39     Minimax              105
7     win   2690    31     Minimax               97
8     win   2670    31     Minimax               96
9    lose   2220     3     Minimax               97
10    win   2720    11     Minimax              109
11   lose   1960     3     Minimax              106
12   lose   2470     4  Expectimax               98
13    win   2590     3  Expectimax               83
14   lose   2150     3  Expectimax               99
15   lose   1270     2  Expectimax              101
16   lose   2300     3  Expectimax              102
17   lose   2030     5  Expectimax              103
18   lose   1760     4  Expectimax               96
19   lose   2510     4  Expectimax               94

In [9]:
dataFrame = dataFrame_in.copy()
algoList = dataFrame['Algorithm'].tolist()
statusList = dataFrame['Status'].tolist()

In [10]:
labelEncoderAlgo = LabelEncoder()
labelEncoderAlgo.fit(algoList)
labelsAlgo = labelEncoderAlgo.transform(algoList)
dataFrame['Algorithm']=pandas.Series(labelsAlgo)

labelEncoderStatus = LabelEncoder()
labelEncoderStatus.fit(statusList)
labelStatus= labelEncoderStatus.transform(statusList)
dataFrame['Status']=pandas.Series(labelStatus)

dataFrame

    Status  Score  Time  Algorithm  CrossroadsCount
0        0   2410     9          1               97
1        0   2500     6          1               99
2        1   2650     6          1               96
3        1   2650     8          1              100
4        1   2690     9          1               94
5        0   2660    18          1               99
6        0   2700    39          1              105
7        1   2690    31          1               97
8        1   2670    31          1               96
9        0   2220     3          1               97
10       1   2720    11          1              109
11       0   1960     3          1              106
12       0   2470     4          0               98
13       1   2590     3          0               83
14       0   2150     3          0               99
15       0   1270     2          0              101
16       0   2300     3          0              102
17       0   2030     5          0              103
18       0   1760     4          0               96
19       0   2510     4          0               94

In [15]:
x = np.array(dataFrame[['CrossroadsCount']])
y = np.array(dataFrame[['Status', 'Score', 'Time', 'Algorithm']])

newCrossroadsValues = [[70], [80], [90], [100], [110], [120]]
model = LinearRegression()
model.fit(x, y)
prediction = pandas.DataFrame(model.predict(newCrossroadsValues), columns=['Status', 'Score', 'Time', 'Algorithm'])
prediction['CrossroadsCount'] = newCrossroadsValues

prediction

   Status  Score  Time  Algorithm CrossroadsCount
0       1  2,741     1         -0            [70]
1       1  2,614     4          0            [80]
2       1  2,488     7          0            [90]
3       0  2,362    10          1           [100]
4       0  2,235    14          1           [110]
5      -0  2,109    17          1           [120]

In [16]:
crossroadsValues = list()
for crossroadListValue in prediction['CrossroadsCount']:
    crossroadsValues.append(crossroadListValue[0])
prediction['CrossroadsCount'] = crossroadsValues
convert_dict = {'Status': int,
                'Score': int,
                'Time': float,
                'Algorithm': int,
                'CrossroadsCount': int
                }
prediction = prediction.astype(convert_dict)

prediction

   Status  Score  Time  Algorithm  CrossroadsCount
0       1   2740     1          0               70
1       0   2614     4          0               80
2       0   2488     7          0               90
3       0   2361    10          0              100
4       0   2235    14          0              110
5       0   2108    17          1              120

In [19]:
result = dataFrame.append(prediction)

def denormalize_status(value):
       if value in [0, '0']:
           return 'lose'
       else:
           return 'win'

def denormalize_algorithm(value):
   if value in [0, '0']:
       return 'Minimax'
   else:
       return 'Expectimax'

statusValues = result['Status']
AlgorithmValues = result['Algorithm']
newStatusValues = list()
newAlgValues = list()
for status in statusValues:
    newStatusValues.append(denormalize_status(status))
for algValue in AlgorithmValues:
    newAlgValues.append(denormalize_algorithm(algValue))
result['Status'] = newStatusValues
result['Algorithm'] = newAlgValues

result.to_csv('out.csv')

result

   Status  Score  Time   Algorithm  CrossroadsCount
0     win   2410     9  Expectimax               97
1     win   2500     6  Expectimax               99
2     win   2650     6  Expectimax               96
3     win   2650     8  Expectimax              100
4     win   2690     9  Expectimax               94
5     win   2660    18  Expectimax               99
6     win   2700    39  Expectimax              105
7     win   2690    31  Expectimax               97
8     win   2670    31  Expectimax               96
9     win   2220     3  Expectimax               97
10    win   2720    11  Expectimax              109
11    win   1960     3  Expectimax              106
12    win   2470     4  Expectimax               98
13    win   2590     3  Expectimax               83
14    win   2150     3  Expectimax               99
15    win   1270     2  Expectimax              101
16    win   2300     3  Expectimax              102
17    win   2030     5  Expectimax              103
18    win   1760     4  Expectimax               96
19    win   2510     4  Expectimax               94
0     win   2740     1     Minimax               70
1    lose   2614     4     Minimax               80
2    lose   2488     7     Minimax               90
3    lose   2361    10     Minimax              100
4    lose   2235    14     Minimax              110
5    lose   2108    17  Expectimax              120